<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/html6.css" rel="stylesheet" type="text/css">

    <!-- LOAD JS FILES -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.isotope.min.js"></script>
    <script src="/static/js/jquery.prettyPhoto.js"></script>
    <script src="/static/js/easing.js"></script>
    <script src="/static/js/jquery.lazyload.js"></script>
    <script src="/static/js/jquery.ui.totop.js"></script>
    <script src="/static/js/selectnav.js"></script>
    <script src="/static/js/ender.js"></script>
    <script src="/static/js/jquery.flexslider-min.js"></script>
    <script src="/static/js/custom.js"></script>
</head>

<body>
    <!-- header begin -->
    <header>
        <div id="logo">
            <div class="inner">
                <a href="index.html">
                    <img src="/static/img/logo.png" alt=""></a>
            </div>
        </div>


        <!-- mainourservice begin -->
        <div id="mainourservice-container">
            <ul id="mainourservice">
                <li><a href="/">Главаная</a></li>
                <li><a href="#">Услуги</a>
                    <ul>
                        <li><a href="/service">Список услуг</a></li>
                        <li><a href="single-service.html">Описание услуги</a>
                    </ul>
                </li>
                <li><a href="/application">Заявка</a></li>
                <li><a href="#">Новости</a>
                    <ul>
                        <li><a href="/news">Список новостей</a></li>
                        <li><a href="/news/7">Описание новости</a></li>
                    </ul>
                </li>
                <li><a href="/gallery">Галерея</a></li>
                <li><a href="/contact">Контакты</a></li>
                <li><a href="/admin">Админ-панель</a></li>
            </ul>
        </div>

    </header>
    <!-- header close -->
    <div id="subheader">
        <h1>{% block subheader %}{% endblock %}</h1>
    </div>
    {% block map %}{% endblock %}

    <!-- content begin -->
    <div id="content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>


    <!-- footer begin -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="span6">
                    &copy; 2015 Construction - бесплатный строительный шаблон | <a href="http://html6.com.ru">Шаблоны сайтов</a>
                </div>
                <div class="span6">
                    <nav>
                        <ul>
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Услуги</a></li>
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">Помощь</a></li>
                            <li><a href="#">Связь</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </footer>
    <!-- footer close -->

</body>

</html>
