{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
<!-- created by Yuryy Pogoreliuk and Viacheslav Semeniuk-->
<head>

    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/html6.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">

    <!-- LOAD JS FILES -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.isotope.min.js"></script>
    <script src="/static/js/jquery.prettyPhoto.js"></script>
    <script src="/static/js/easing.js"></script>
    <script src="/static/js/jquery.lazyload.js"></script>
    <script src="/static/js/jquery.ui.totop.js"></script>
    <script src="/static/js/selectnav.js"></script>
    <script src="/static/js/ender.js"></script>
    <script src="/static/js/jquery.flexslider-min.js"></script>
    <script src="/static/js/custom.js"></script>
</head>

<body>
    <!-- header begin -->
    <header>
        <div id="logo">
            <div class="inner">
                <a href="/">
                    <img src="/static/img/logo.jpg" style="max-height:100px; max-width:100px;"  alt=""><h3>ДП "Вінницький науково-дослідний та проектний інститут землеустрою"</h3>
                </a>
            </div>
        </div>

        <!-- mainourservice begin -->
        <div id="mainourservice-container">
            <ul id="mainourservice">
                <li><a href="/">Головна</a></li>
                <li><a href="/services">Послуги</a></li>
                <li><a href="/application">Заявка</a></li>
                <li><a href="/news">Новини</a></li>
                <li><a href="/gallery">Галерея</a></li>
                <li><a href="/contact">Контакты</a></li>
                <li><a href="/structure">Структура</a></li>
                
            </ul>
        </div>

    </header>
    <!-- header close -->
    <div id="subheader">
        <h1>{% block subheader %}{% endblock %}</h1>
    </div>
    {% block map %}{% endblock %}

    <!-- content begin -->
    <div id="content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>


    <!-- footer begin -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="span6">
                    <a href="http://"> &copy; 2016 ДП "Вінницький науково-дослідний та проектний інститут землеустрою"</a>
                </div>
                <div class="span6">
                    <nav>
                        <ul>
                            <li><a href="/">Головна</a></li>
                            <li><a href="/services">Послуги</a></li>
                            <li><a href="/application">Заявка</a></li>
                            <li><a href="/news">Новини</a></li>
                            <li><a href="/gallery">Галерея</a></li>
                            <li><a href="/contact">Контакти</a></li>
                            <li><a href="/structure">Структура інституту</a></li>
                            <li><a href="/admin">Админ</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </footer>
    <!-- footer close -->

</body>

</html>
