{% extends "base.html" %}
{% load construct_extras %}

{% block title %} Контакти компанії {% endblock %}

{% block subheader %} Контакти компанії 	{% endblock %}
{% block map %}
<hr/>
<div id="map-cont" class="span6 offset3" >
	<div id="map" style="width: 100%; height: 400px" ></div>
</div>

<script>
ymaps.ready(init);
    var myMap,
        myPlacemark;

    function init(){     
        myMap = new ymaps.Map("map", {
            center: [ 49.224915, 28.414939],
            zoom: 17
        });

        myPlacemark = new ymaps.Placemark([49.224915, 28.414939], { 
            hintContent: 'ДП "Вінницький науково-дослідний та проектний інститут землеустрою"', 
            balloonContent: 'Наш інститут' 
        });

        myMap.geoObjects.add(myPlacemark);
    }
</script>

<!--div class="span8 offset2" id="map-container">
    <iframe src="https://www.google.com/maps/embed/v1/place?q=49.224952%2C%2028.415035%20&key=AIzaSyCrMTVLWiYhNdwkNrV_GnrhC_4U4bvIXEo" width="100%" height="370" frameborder="0" style="border:0" allowfullscreen></iframe>
</div-->
<hr/>
{% endblock %}
{% block content %}
<div class="row">
<!--div class="span8">
    <div class="contact_form_holder">
         <form id="contact" class="row" name="form1" method="post" action="/contact">
             {% csrf_token %}
             <div class="span4">
                <label>Имя</label>
                {{ form.author_name }}
             </div>
             <div class="span4">
                 <label>Email <span class="req">*</span></label>
                 {{ form.email }}
                  <div id="error_email" class="error">Пожалуйста, введите Email!</div>
             </div>
             <div class="span4">
                  <label>Когда Вам перезвонить? <span class="req">*</span></label>
                  {{ form.datetime }}
                  <div id="error_datepicker" class="error">Попробуйте еще раз!</div>
             </div>
             <div class="span4">
                  <label>Услуга <span class="req">*</span></label>
                  {{ form.service }}
                  <div id="error_person_num" class="error">Еще раз!</div>
             </div>
             <div class="span8">
                  <label>Сообщение</label>
                  {{ form.message }}
                  <div id="error_message" class="error">Введите сообщение</div>
                  <div id="mail_success" class="success">Спасибо, отправлено!</div>
                  <div id="mail_failed" class="error">Ошибка!</div>

                  <p id="btnsubmit">
                  <input type="submit" id="send" value="Отправить" class="btn btn-large" /></p>
             </div>


         </form>
    </div>
</div-->

 <!--div id="sidebar" class="span6 offset3">
     
     <div class="widget widget-opening-hours">
         <h4 class="title"><span>Години роботи</span></h4>
         <ul class="opening-hours">
             <li><span class="op-days">Понеділок - П'ятниця</span><span class="op-time">08:00 - 17:00</span></li>
             <li><span class="op-days">Вихідні</span><span class="op-time">10:00 - 15:00</span></li>
         </ul>
     </div>
     <div class="widget widget-text">
         <h4 class="title"><span>Ми знаходимся</span></h4>
         <address>
             Україна, Вінниця, вул Келецькаб 63
             <span><strong>Телефон</strong>(0432) 55-19-55 </span>
             <span><strong>Fax:</strong>55-19-50</span>
             <span><strong>Тел. дир.:</strong>(0432) 55-19-65 </span>
             <span><strong>Тел. заст. дир.:</strong>(0432) 55-19-75 </span>
             <span><strong>Email:</strong><a href="mailto:vininstitutzem@ukr.net">vininstitutzem@ukr.net</a></span>
             <span><strong>Сайт:</strong><a href="http://vinzem.tk">http://vinzem.tk</a></span>
         </address>
         <div class="social-icons">
             <a href="#">
                 <img src="static/img/social-icons/facebook.png" alt="" /></a>
             <a href="#">
                 <img src="static/img/social-icons/twitter.png" alt="" /></a>
             <a href="#">
                 <img src="static/img/social-icons/dribbble.png" alt="" /></a>
             <a href="#">
                 <img src="static/img/social-icons/blogger.png" alt="" /></a>
             <a href="#">
                 <img src="static/img/social-icons/youtube.png" alt="" /></a>
             <a href="#"<img src="img/social-icons/vimeo.png" alt="" /></a>
         </div>
     </div>
 </div-->
<div class="span6 offset3" style="margin-bottom:5em;">
	{{ workhours.description|safe }}
</div>
</div>
{% endblock %}
