{% extends "base.html" %}
{% load construct_extras %}
{% load imagefit %} 

{% block title %} Наша галерея {% endblock %}

{% block subheader %}Наша галерея{% endblock %}
{% block content %}
<div class="row">
                <div class="span12">
                    <ul id="filters"></ul>

                </div>
            </div>
<!--div class="row">
                <div class="span12">
                    <ul id="filters">
                        <li><a href="#" data-filter="*" class="selected">Все</a></li>
                    </ul>

                </div>
            </div-->
<div class="row">
	<div id="gallery" class="gallery">
    {% for img in images %}

		<div class="span3 item">
			<a class="preview" href="{{ img.image.url|resize:"640x427,C" }}" data-gal="prettyPhoto" title="Описание">
				<img src="{{ img.image.url|resize:"270x180,C" }}" data-original="{{ img.image.url|resize:"640x427,C" }}" alt="">
			</a>
			<h4>{{ img.text }}</h4>
			<!--span>{{ img.event_date }}</span-->
			<span>{{ img.description }}</span>
		</div>

    {% endfor %}
	</div>
</div>

<script>/*$(document).load(*/
setInterval(function(){$('body').trigger('resize'); console.log("resizing");}, 3000)
/*});*/</script>
{% endblock %}
