{% extends "base.html" %}
{% load construct_extras %}

{% block title %} News {% endblock %}

{% block subheader %} Новости компании 	{% endblock %}

{% block content %}



<div class="row">
<div class="span8">
<ul class="blog-list">
	{% for news in latest_news_list %}
	<li>
		<div class="info">
			<div class="date-box">
				<span class="day">{{news.created_at.day}}</span>
				<span class="month">{{ news.created_at.month|month }}</span>
			</div>
		</div>
		<div class="preview">
			<img src="{{ news.image.url }}" data-original="{{ news.image.url }}" alt="" style="display: inline;">
			<a href="news/{{ news.id }}">
				<h3 class="blog-title">{{ news.title }}</h3>
			</a>
			{{ news.text|unescape }}
		</div>
		<div class="meta-info">От <a href="#">Admin</a><span>|</span><a href="#">События</a>, <a href="#">События</a><span>|</span><a href="#">2 Комм.</a><span>|</span> </div>
	</li>
	{% endfor %}
</ul>
</div>
<div id="sidebar" class="span4">
    <div class="widget latest_news">
        <h4 class="title">Последние новости</h4>
        <ul class="bloglist-small">
            {% for news in latest_news_list %}

            <li>
                <div class="date-box">
                    <span class="day">{{news.created_at.day}}</span>
                    <span class="month">{{ news.created_at.month|month }}</span>
                </div>
                <div class="txt">
                    <h5><a href="news/{{ news.id }}">{{ news.title }}</a></h5>
                    <div>
                        <div>{{ news.text|unescape }}</div>
                    </div>
                </div>
            </li>

            {% endfor %}
        </ul>
    </div>
                    <div class="widget widget-text">
                        <h4 class="title"><span>Доп. информация</span></h4>
                        <div>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации систем массового участия. Разнообразный и богатый опыт сложившаяся структура организации требуют от нас анализа форм развития. Задача организации, в особенности же сложившаяся структура организации представляет собой интересный эксперимент проверки модели развития.&nbsp;</div>
                    </div>

                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d60424.41706979944!2d37.61154170399259!3d55.74919347969923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1443187015472" width="100%" height="370" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                    </div>
</div>



</div>
</div>

{% endblock %}
