{% extends "base.html" %}
{% load construct_extras %}

{% block title %} {{ service.title }} {% endblock %}

{% block subheader %} {{ service.title }} {% endblock %}

{% block content %}

    <div class="row">
        <div class="ourservice-single">
            <div class="span12">
                <div class="span6" style="margin-right: 2em">
			<img data-original="{{ service.image.url }}"  src="/{{ service.image.url }}" class="img-polaroid" alt="">
		</div>
      
                <!--h3>{{ service.title }}</h3-->
                <p>{{ service.text|safe }}</p>
            </div>
        </div>
    </div>

{% endblock %}
