{% extends "base.html" %}
{% load construct_extras %}

{% block title %} Структура інституту {% endblock %}

{% block subheader %} Структура інституту {% endblock %}

{% block content %}


<table>
    {% for person in people %}
    <tr class="tr">
        <td class="td-img" rawspan="2"><img style="height: 300px; width: 240px;" src="{{ person.image.url }}"></td>
        <td class="td-text">
            <h3 align="center">{{ person.name }}</h3>
            <div align="center">{{ person.description|safe }}</div>
	    <!--p>TEST2</p-->
        </td>


    </tr>



    {% endfor %}
</table>

{% endblock %}
